{{- $identity := include (joinPath .chezmoi.homeDir ".config" "devkit" "identity.json") | fromJson -}}
[user]
	name = {{ $identity.full_name }}
{{- if $identity.gpg_signing_key }}
	signingkey = {{ $identity.gpg_signing_key }}
{{- end }}
{{- if eq .machine_type "work" }}
	email = {{ $identity.email_work }}
{{- else }}
	email = {{ $identity.email_personal }}
{{- end }}
[commit]
{{- if $identity.gpg_signing_key }}
	gpgsign = true
{{- else }}
	gpgsign = false
{{- end }}
[pull]
	rebase = false
{{- if eq .machine_type "personal" }}
{{- range $org := $identity.work_gh_orgs }}
[includeIf "gitdir:~/repos/github.com/{{ $org }}/"]
	path = ~/.gitconfig-work
{{- end }}
{{- end }}
{{- if eq .machine_type "work" }}
[includeIf "gitdir:~/repos/github.com/{{ $identity.github_username }}/"]
	path = ~/.gitconfig-personal
{{- end }}
